name: CI/CD prod

on:
  push:
    tags:
      - '*'
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_and_push:
    name: Build and push OCI image to DockerHub
    runs-on: ubuntu-latest
    steps:
      - name: Checkout main
        uses: actions/checkout@v5

      - name: Docker meta
        id: docker_meta
        uses: docker/metadata-action@v5.9.0
        with:
          images: ctrlfdocker/ctrl-f.info
          flavor: latest=true
          tags: |
            type=semver,pattern={{version}}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: '${{ secrets.DOCKER_USERNAME }}'
          password: '${{ secrets.DOCKER_TOKEN }}'

      - name: Build and push
        uses: docker/build-push-action@v6.18.0
        with:
          file: ./Dockerfile
          context: .
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
          labels: ${{ steps.docker_meta.outputs.labels }}
